#body{

}
#main {
  padding-bottom: 4px;
  padding-top: 4px;
}
#container {
  background-color : lightgray;
  text-align: center;
}
#title {
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 25px;
}
#img-div {
  background-color : #fff;
  width: auto;
  padding : 10px;
}
#image {
/* Should resize to fit img-div and be centered */
  width: auto;
  height: 100%;
}
#img-caption {
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
}
#list-heading{
  padding-top: 10px;
  font-size: 24px;
  font-weight: bold;
}
#list{
  font-size: 20px;
  text-align: left;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 420px;
  padding-right: 420px;
}
#bold {
  font-weight: bold;
}
#quote {
  font-size: 18px;
  font-style: italic;
}
#wiki {
  font-size: 22px;
  padding-bottom: 40px;
}
